body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row-reverse;
    flex: auto;
}

.main {
    flex: 2;
    overflow-y: auto
}

.sidebar {
    flex: 1;
    overflow-y: auto
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 5;
}

.logo {
    font-weight: bold;
    font-size: 40px;
}