:root {
    --primary-color: #C271FF;
    --primary-text: #C271FF;
    --secondary-text: #ffff;
    --secondary-color: #071629
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../assets/Object.png);
    background-position: top;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.banner {
    position: absolute;
    top: 35%;
    left: 30%;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cta h1 {
    color: white;
    font-size: 100px;
    letter-spacing: 5px;
    font-family: 'Source Sans Pro';
}

div.spans {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px
}

button.cta_button {
    margin-top: 30px;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px solid black;
}

div.explanation_div {
    position: absolute;
    top: 100%;
    left: 0
}

div.explanation_div h2 {
    margin-top: 40px;
    text-align: center;
    color: white;
}

div.explanation_div h2 span.highlight {
    color: var(--primary-color);
    font-size: 30px;
    align-self: center;
}

div.images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 5rem
}

div.images img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.text-white {
    color: white;
}

div.mgt_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/**
=====================================
THIS IS THE QUOTES PART
1. I set the background color to what
was required
2. spaced out the blockquote element
=====================================
**/

section.quotes {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 2rem;
}

div.quote blockquote {
    margin-bottom: 3rem;
}


/**
===========================================
THE STYLES FOR THE POPULAR COURSES SECTION
==========================================
1. Set the display to flex
2. set the width of the tutorials to 80% and align center
3. code becoming longer to comment 😁😁
**/

.popular_tutorials h2 {
    text-align: center;
}

.text-primary {
    color: var(--primary-color)
}

.popular_tutorials {
    margin: 5rem;
}

div.tutorials {
    width: 70%;
    margin: auto;
    align-self: center;
    display: flex;
    margin-top: 5rem;
    justify-content: start;
    gap: 2rem;
}

div.tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 25%;
}

.description_text {
    color: gray;
    text-wrap: wrap;
    text-align: center;
}

div.author {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1em;
    left: 5%;
    top: 48%;
}

div.author {
    width: 100%;
}

div.author img {
    width: 50px;
    height: 50px;
    text-align: start;
}

div.rating_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 95%;
}

div.ratings {
    display: flex;
    justify-content: space-between;
}


/**
===============================
membership section styles here
==============================
**/

.membership {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--secondary-text);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    height: 50vh;
}

.membership h2 {
    text-align: center;
    font-size: 30px;
}

div.membership_plans {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin-top: 3rem;
    width: 70%;
    margin: auto;
}

.single_plan {
    margin: 0 auto;
    text-align: center;
    width: 20%;
}

.single_plan img {
    width: 50px;
}

.single_plan p {
    text-align: center;
    text-wrap: wrap;
}


/**
=================
FOR THE FAQs
=================
**/

.faq {
    width: 100%;
    padding: 5rem;
}

.faq h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 20px;
}

.faq_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10rem;
}

.faq_div div {
    padding: 20px;
}